body {
	font-family: sans-serif;
}

header {
	background-color: #444444;
	display: flex;
	align-items: center;
	width: 100%;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

/* 100% width makes something as wide as its parent */

#placeholder {
	display: flex;
	margin: 30px;
	justify-content: space-evenly;
}

#placeholder-2 {
	display: flex-row;
	justify-content: space-evenly;
}

#hero-image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px;
}

.image-row {
	margin: 30px;
}

footer {
	height: 50px;
	width: 100%;
	background-color: #444444;
}

anchor {
	color: #7d7d7d;
}

button {
	color: white;
	background-color: black;
	margin: 30px;
}

button:hover {
	background-color: aqua;
}

p {
	font-style: italic;
	margin: 30px;
	height: 348px;
	overflow: scroll;
}

h2 {
	font-size: 1.5rem;
}

#featured-section-banner {
	margin: 30px;
}

#section-text {
	margin: 30px;
}
